* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 500ms;
}

.conts {
  display: flex;
  justify-content: flex-end;
}
.conts #aside {
  width: 5%;
  height: 100vh;
  border-right: 0.5px solid #d6d6d6;
  position: fixed;
  left: 0;
  padding: 10px;
  overflow: hidden;
  transition: 500ms;
  background-color: #fff;
  z-index: 1;
}
.conts #aside:hover {
  width: 20%;
  overflow: hidden;
}
.conts #aside #navCont {
  display: flex;
}
.conts #aside #navCont #navLeft {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.conts #aside #navCont #navLeft .title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 15px 15px 0;
}
.conts #aside #navCont #navLeft .title .icon {
  color: #603ecc;
  font-size: 30px;
  transform: rotate(30deg);
}
.conts #aside #navCont #navLeft .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.conts #aside #navCont #navLeft .menu .menuList :hover {
  background-color: #f1f1f1;
}
.conts #aside #navCont #navLeft .menu .menuList a {
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  padding: 15px 0 15px 10px;
  align-items: center;
  gap: 10px;
  color: #6b6e71;
  text-decoration: none;
}
.conts #aside #navCont #navLeft .menu .menuList a .icon {
  font-size: 20px;
}
.conts #aside #navCont #mainNav {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.conts #aside #navCont #mainNav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 15px 15px 10px;
}
.conts #aside #navCont #mainNav .logo .icon {
  color: #603ecc;
  font-size: 30px;
  transform: rotate(30deg);
}
.conts #aside #navCont #mainNav .menu {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.conts #aside #navCont #mainNav .menu .menuList :hover {
  background-color: #f1f1f1;
}
.conts #aside #navCont #mainNav .menu .menuList .icon {
  font-size: 20px;
  color: #6b6e71;
  padding: 15px 0 9px 10px;
}
.conts #header {
  width: 95%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  background-color: #fff;
  border-bottom: 0.5px solid #d6d6d6;
}
.conts #header #nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.conts #header #nav .menu {
  width: 45%;
  list-style: none;
}
.conts #header #nav .menu .menuList input {
  border-radius: 5px;
  padding: 7px 20px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #ededed;
}
.conts #header #nav .logo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #6b6e71;
  text-decoration: none;
  font-weight: 500;
}
.conts #header #nav .cont {
  display: flex;
  gap: 30px;
}
.conts #header #nav .cont .menuList {
  list-style: none;
  font-size: 25px;
  color: #6b6e71;
  position: relative;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd {
  min-width: 250px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList a li {
  list-style: disc;
  color: #6b6e71;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList p {
  font-size: 13px;
  padding: 2px 0;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList p span {
  color: #603ecc;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList .icon {
  font-size: 20px;
  padding: 7px;
  color: #603ecc;
  background-color: #f3f1f9;
  border-radius: 50%;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd .dropdownMenuList a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd button {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: none;
}
.conts #header #nav .cont .menuList #dropdownMenuAdd button a {
  color: #6b6e71;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
.conts #header #nav .cont .menuList #dropdownMenuNot {
  min-width: 300px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .line {
  width: 100%;
  border: 1px solid #d6d6d6;
  margin: 10px 0;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .info a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .info a li {
  list-style: disc;
  color: #6b6e71;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .info p {
  font-size: 13px;
  padding: 2px 0;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .info p span {
  color: #603ecc;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .icons {
  font-size: 23px;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList .icon {
  font-size: 20px;
  padding: 7px;
  color: #603ecc;
  background-color: #f3f1f9;
  border-radius: 50%;
}
.conts #header #nav .cont .menuList #dropdownMenuNot .dropdownMenuList a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenuNot button {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: none;
}
.conts #header #nav .cont .menuList #dropdownMenuNot button a {
  color: #6b6e71;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
.conts #header #nav .cont .menuList #dropdownMenu {
  min-width: 250px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList a li {
  list-style: disc;
  color: #6b6e71;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList p {
  font-size: 13px;
  padding: 2px 0;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList p span {
  color: #603ecc;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList .icon {
  font-size: 20px;
  padding: 7px;
  color: #603ecc;
  background-color: #f3f1f9;
  border-radius: 50%;
}
.conts #header #nav .cont .menuList #dropdownMenu .dropdownMenuList a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}
.conts #header #nav .cont .menuList #dropdownMenu button {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: none;
}
.conts #header #nav .cont .menuList #dropdownMenu button a {
  color: #6b6e71;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
.conts #section {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 100px 0 0 0;
}
@media screen and (max-width: 885px) {
  .conts #section {
    width: 100%;
  }
}
.conts #section .timelineCont {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 650px) {
  .conts #section .timelineCont {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 750px) {
  .conts #section .timelineCont {
    width: 95%;
  }
}
.conts #section .timelineCont .timelineContInfo p {
  font-size: 15px;
  color: #6b6e71;
  padding: 10px 0;
}
.conts #section .timelineCont .timelineContBtn {
  display: flex;
  align-items: center;
}
.conts #section .timelineCont .timelineContBtn .material-icons {
  font-size: 15px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #icon {
  font-size: 20px;
  color: #6b6e71;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dropdownMenuTeam {
  width: 130px;
  position: absolute;
  right: -5px;
  top: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  list-style: none;
  background-color: #fff;
  display: none;
  margin-top: 120px;
  margin-right: 245px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dropdownMenuTeam p {
  font-size: 13px;
  text-align: start;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dropdownMenuTeam .selectCont {
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 5px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dropdownMenuTeam .selectCont select {
  border: none;
  font-size: 12px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dropdownMenuTeam .selectCont select option {
  width: 100%;
}
.conts #section .timelineCont .timelineContBtn .dropdown #dateBtn {
  width: 110px;
  border: 1px solid #d6d6d6;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b6e71;
  display: flex;
  gap: 5px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #inviteBtn {
  width: 110px;
  padding: 8px 15px;
  background-color: #e1dcef;
  color: #603ecc;
  font-weight: 550;
  border-radius: 5px;
  border: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #inviteBtn span {
  font-weight: 200;
}
.conts #section .timelineCont .timelineContBtn .dropdown #taskBtn {
  width: 110px;
  padding: 8px 15px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.conts #section .timelineCont .timelineContBtn .dropdown #taskBtn span {
  font-weight: 200;
}
.conts #section .nubers {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 5px 0;
  background-color: #f1f1f1;
  color: #6b6e71;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
}
@media screen and (max-width: 750px) {
  .conts #section .nubers {
    margin-left: 40px;
    width: 95%;
  }
}
.conts #section .timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}
.conts #section .timeline img {
  width: 40%;
  padding: 5px 0;
}
.conts #section .timeline p {
  font-size: 15px;
  color: #6b6e71;
}
.conts #section .timeline p span {
  color: #603ecc;
}
.conts #sectionTwo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3843137255);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#inviteSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  top: -250px;
}
#inviteSection .createTasksInvite {
  width: 30%;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 1000px) {
  #inviteSection .createTasksInvite {
    width: 40%;
  }
}
@media screen and (max-width: 760px) {
  #inviteSection .createTasksInvite {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #inviteSection .createTasksInvite {
    width: 60%;
  }
}
@media screen and (max-width: 510px) {
  #inviteSection .createTasksInvite {
    width: 70%;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 430px) {
  #inviteSection .createTasksInvite {
    width: 85%;
  }
}
#inviteSection .createTasksInvite .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#inviteSection .createTasksInvite .title h3 {
  font-weight: 550;
}
#inviteSection .createTasksInvite .title #closeIconInvite {
  font-size: 25px;
  color: #6b6e71;
}
#inviteSection .createTasksInvite .line {
  width: 100%;
  border: 1px solid #f1f1f1;
  margin: 10px 0;
}
#inviteSection .createTasksInvite .personCont {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 15px;
}
#inviteSection .createTasksInvite .personCont .personChild {
  display: flex;
  align-items: center;
  gap: 10px;
}
#inviteSection .createTasksInvite .personCont .personChild .personIcon {
  font-size: 40px;
  color: #6b6e71;
}
#inviteSection .createTasksInvite .personCont .personChild .personInfo p {
  font-size: 15px;
  color: #6b6e71;
  padding: 5px 0;
}
#inviteSection .createTasksInvite .personCont li {
  font-size: 13px;
  color: #6b6e71;
  list-style: none;
}

#tasksSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  top: -250px;
}
#tasksSection .createTasksCont {
  width: 30%;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 900px) {
  #tasksSection .createTasksCont {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  #tasksSection .createTasksCont {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #tasksSection .createTasksCont {
    width: 60%;
  }
}
@media screen and (max-width: 510px) {
  #tasksSection .createTasksCont {
    width: 70%;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 430px) {
  #tasksSection .createTasksCont {
    width: 85%;
  }
}
#tasksSection .createTasksCont .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tasksSection .createTasksCont .title h3 {
  font-weight: 550;
}
#tasksSection .createTasksCont .title #closeIconTasks {
  font-size: 25px;
  color: #6b6e71;
}
#tasksSection .createTasksCont .line {
  width: 100%;
  border: 1px solid #f1f1f1;
  margin: 10px 0;
}
#tasksSection .createTasksCont #form .child {
  display: flex;
  flex-direction: column;
}
#tasksSection .createTasksCont #form .child label {
  color: #6b6e71;
  margin-top: 10px;
  font-size: 15px;
}
#tasksSection .createTasksCont #form .child input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  margin: 5px 0;
  outline: none;
}
#tasksSection .createTasksCont #form .timeCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
#tasksSection .createTasksCont #form .timeCont .time {
  width: 48%;
  display: flex;
  flex-direction: column;
}
#tasksSection .createTasksCont #form .timeCont .time label {
  color: #6b6e71;
  margin-top: 10px;
}
#tasksSection .createTasksCont #form .timeCont .time input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  margin: 5px 0;
  outline: none;
}
#tasksSection .createTasksCont #form .timeCont .time .inp {
  padding: 6px 10px;
}
#tasksSection .createTasksCont #form button {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  margin-top: 10px;
  border: none;
}/*# sourceMappingURL=timeline.css.map */