*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 500ms;
}

$color: #6b6e71;
$borderColor: #d6d6d6;
$colorP: #603ecc;
$bgcolor: #f1f1f1;
$btn-color: #f3f1f9;

#conts{
    display: flex;
    justify-content: flex-end;
    #aside{
        width: 5%;
        height: 100vh;
        border-right: 0.5px solid $borderColor;
        position: fixed;
        left: 0;
        padding: 10px;
        overflow: hidden;
        transition: 500ms;
        background-color: #fff;
        z-index: 1;
        &:hover{
            width: 20%;
            overflow: hidden;
        }
        #navCont{
            display: flex;
            #navLeft{
                width: 100%;
                display: flex;
                align-items: start;
                flex-direction: column;
                .title{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 15px 15px 15px 0;
                    .icon{
                        color: $colorP;
                        font-size: 30px;
                        transform: rotate(30deg);
                    }
                }
                .menu{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-top: 55px;
                    .menuList{
                        :hover{
                            background-color: $bgcolor;
                        }
                        a{
                            border-radius: 5px;
                            transition: 0.5s;
                            display: flex;
                            padding: 15px 0 15px 10px;
                            align-items: center;
                            gap: 10px;
                            color: $color;
                            text-decoration: none;
                            .icon{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            #mainNav{
                display: flex;
                align-items: start;
                flex-direction: column;
                .logo{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 15px 15px 15px 10px;
                    .icon{
                        color: $colorP;
                        font-size: 30px;
                        transform: rotate(30deg);
                    }
                }
                .menu{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-top: 45px;
                    .menuList{

                        .icon{
                            font-size: 20px;
                            color: $color;
                            padding: 15px 0 9px 10px;
                        }
                    }
                }
            }
        }
    }
    
    #header{
        width: 95%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
        position: fixed;
        background-color: #fff;
        border-bottom: 0.5px solid $borderColor;
        #nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px 0;
            .menu{
                width: 45%;
                list-style: none;
                @media screen and (max-width: 500px) {
                    width: 30%;
                }
                .menuList{
                input{
                    border-radius: 5px;
                    padding: 7px 20px;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: #ededed;
                }
            }
        }
        .logo{
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: $color;
                text-decoration: none;
                font-weight: 500;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                    gap: 5px;
                }
                @media screen and (max-width: 400px) {
                    font-size: 14px;
                }
            }
        }
        .cont{
            display: flex;
            gap: 30px;
            @media screen and (max-width: 500px) {
                gap: 15px;
            }
            @media screen and (max-width: 350px) {
                gap: 10px;
            }
            .menuList{
                list-style: none;
                font-size: 25px;
                color: $color;
                position: relative;
                @media screen and (max-width: 500px) {
                    font-size: 20px;
                }
                #dropdownMenuAdd{
                    min-width: 250px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    @media screen and (max-width: 600px) {
                        min-width: 220px;
                    }
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                            li{
                                list-style: disc;
                                color: $color;
                            }
                        }
                        p{
                            font-size: 13px;
                            padding: 2px 0;
                            span{
                                color: $colorP;
                            }
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
                #dropdownMenuNot{
                    min-width: 300px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    @media screen and (max-width: 600px) {
                        min-width: 280px;
                    }
                    .line{
                        width: 100%;
                        border: 1px solid $borderColor;
                        margin: 10px 0;
                    }
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        .info{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            a{
                                color: #000;
                                font-size: 15px;
                                text-decoration: none;
                                display: flex;
                                gap: 25px;
                                li{
                                    list-style: disc;
                                    color: $color;
                                }
                            }
                            p{
                                font-size: 13px;
                                padding: 2px 0;
                                span{
                                    color: $colorP;
                                }
                            }
                        }
                            .icons{
                                font-size: 23px;
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
                #dropdownMenu{
                    min-width: 250px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                            li{
                                list-style: disc;
                                color: $color;
                            }
                        }
                        p{
                            font-size: 13px;
                            padding: 2px 0;
                            span{
                                color: $colorP;
                            }
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}   
    #section{
        width: 95%;
        display: flex;
        justify-content: center;
        margin: 100px 0;
        @media screen and (max-width: 885px) {
            width: 100%;
        }
        @media screen and (max-width: 700px) {
            flex-direction: column;
            padding: 20px;
            margin: 60px 0;
            gap: 10px;
        }
        .settingsIcon{
            display: none;
            #setIcon{
                font-size: 30px;
                color: $color;
                @media screen and (max-width: 550px) {
                    font-size: 25px;
                }
            }
            @media screen and (max-width: 700px) {
                display: block;
            }
            
        }
        #settingsMenu{
            width: 27%;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 10px 10px 50px 10px;
            background-color: #fff;
            @media screen and (max-width: 700px) {
                width: 40%;
                height: 100%;
                display: none;
                border: 1px solid $borderColor;
                position: fixed;
                left: 0;
                top: 60px;
            }
            @media screen and (max-width: 570px) {
                width: 55%;
            }
            @media screen and (max-width: 440px) {
                width: 65%;
            }
            .info{
                padding-left: 10px;
                @media screen and (max-width: 700px) {
                    display: none;
                }
                p{
                    font-size: 15px;
                    color: $color;
                    padding: 10px 0;
                }
            }
            .closeIcon{
                text-align: end;
                display: none;
                #closeIcon{
                    font-size: 20px;
                    color: $color;
                }
                @media screen and (max-width: 700px) {
                    display: block;
                }
            }
            ul{
                width: 90%;
                padding-top: 10px;
                li{
                    list-style: none;
                    :hover{
                        background-color: $bgcolor;
                    }
                    a{
                        border-radius: 5px;
                        transition: 0.5s;
                        display: flex;
                        padding: 15px 0 15px 10px;
                        align-items: center;
                        gap: 10px;
                        color: $color;
                        text-decoration: none;
                        .icon{
                            font-size: 20px;
                        }
                    }
                }
            }
            
        }
        .generalSettingsCont{
            width: 65%;
            @media screen and (max-width: 700px) {
                width: 100%;
            }
            .generalSettingsChild{
                width: 100%;
                border: 0.5px solid $borderColor;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                @media screen and (max-width: 510px) {
                    padding: 15px 10px;
                }
                .line{
                    width: 100%;
                    border: 0.5px solid $borderColor;
                    margin: 15px 0;
                }
                .personalDetalisForm{
                    .personalDetalisIcon{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        @media screen and (max-width: 400px) {
                            flex-direction: column;
                            align-items: start;
                        }
                        .icon{
                            font-size: 100px;
                            color: #b674fd;
                            @media screen and (max-width: 600px) {
                                font-size: 85px;
                            }
                        }
                        .btn{
                            button{
                                background-color: #eee9fd;
                                color: #6f47eb;
                                border: none;
                                padding: 7px  15px;
                                border-radius: 5px;
                                font-weight: 550;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                .icons{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    form{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;
                        @media screen and (max-width: 400px) {
                            flex-direction: column;
                        }
                        .formChild{
                            width: 48%;
                            display: flex;
                            flex-direction: column;
                            @media screen and (max-width: 520px) {
                                width: 100%;
                            }
                            label{
                                font-size: 15px;
                                color: $color;
                                padding: 10px 0;
                            }
                            
                            input{
                                width: 100%;
                                padding: 10px 15px;
                                border-radius: 5px;
                                border: 0.5px solid $borderColor;
                                outline: none;
                            }
                        }
                        .formChildTwo{
                            width: 48%;
                            display: flex;
                            flex-direction: column;
                            @media screen and (max-width: 520px) {
                                width: 100%;
                            }
                            label{
                                font-size: 15px;
                                color: $color;
                                padding: 10px 0;
                            }
                            .formChildInput{
                                display: flex;
                                border: 0.5px solid $borderColor;
                                border-radius: 5px;
                                p{
                                    border-radius: 5px 0  0 5px ;
                                    font-size: 13px;
                                    background-color: $bgcolor;
                                    padding: 10px 15px;
                                    color: $color;
                                }
                                input{
                                    outline: none;
                                    width: 50%;
                                    border: none;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                    .note{
                        width: 100%;
                        margin-top: 20px;
                        p{
                            background-color: $bgcolor;
                            border-radius: 5px;
                            color: $color;
                            font-size: 14px;
                            padding: 15px 10px;
                            @media screen and (max-width: 550px) {
                                font-size: 12px;
                            }
                        }
                        .btn{
                            @media screen and (max-width: 400px) {
                                width: 100%;
                            }
                            button{
                                display: flex;
                                gap: 10px;
                                padding: 10px 15px;
                                background-color: #000;
                                color: #fff;
                                border-radius: 5px;
                                margin-top: 20px;
                                border: 1px solid black;
                                transition: 0.5s;
                                font-size: 15px;
                                &:hover{
                                    background-color: #5c5f62;
                                    border: 1px solid #5c5f62;
                                }
                                @media screen and (max-width: 520px) {
                                    font-size: 12px;
                                }
                                @media screen and (max-width: 400px) {
                                    width: 100%;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
                form{
                    .formChilds{
                        margin-top: 20px;
                        label{
                            font-size: 15px;
                            color: $color;
                        }
                        .formInput{
                            display: flex;
                            gap: 10px;
                            padding: 10px 0;
                            @media screen and (max-width: 400px) {
                                flex-direction: column;
                                gap: 10px;
                            }
                            input{
                                width: 48%;
                                padding: 10px 15px;
                                border-radius: 5px;
                                border: 0.5px solid $borderColor;
                                outline: none;
                                @media screen and (max-width: 400px) {
                                    width: 100%;
                                }
                            }
                            .btn{
                                @media screen and (max-width: 400px) {
                                    width: 100%;
                                }
                                button{
                                    display: flex;
                                    gap: 10px;
                                    padding: 10px 15px;
                                    background-color: #000;
                                    color: #fff;
                                    border-radius: 5px;
                                    border: 1px solid black;
                                    transition: 0.5s;
                                    font-size: 15px;
                                    &:hover{
                                        background-color: #5c5f62;
                                        border: 1px solid #5c5f62;
                                    }
                                    @media screen and (max-width: 520px) {
                                        font-size: 12px;
                                    }
                                    @media screen and (max-width: 400px) {
                                        width: 100%;
                                        justify-content: center;
                                    }
                                }
                            }

                        }
                        .note{
                            width: 65%;
                            margin-top: 20px;
                            @media screen and (max-width: 550px) {
                                width: 100%;
                            }
                            p{
                                background-color: $bgcolor;
                                border-radius: 5px;
                                color: $color;
                                font-size: 14px;
                                padding: 15px 10px;
                                @media screen and (max-width: 550px) {
                                    font-size: 12px;
                                } 
                            }
                            .btn{
                                @media screen and (max-width: 440px) {
                                    width: 100%;
                                }
                                button{
                                    gap: 10px;
                                    padding: 10px 20px;
                                    background-color: #000;
                                    color: #fff;
                                    border-radius: 5px;
                                    border: none;
                                    transition: 0.5s;
                                    font-size: 15px;
                                    &:hover{
                                        background-color: #5c5f62;
                                    }
                                    @media screen and (max-width: 520px) {
                                        font-size: 12px;
                                    }
                                    @media screen and (max-width: 440px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
