*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 500ms;
}

$color: #6b6e71;
$borderColor: #d6d6d6;
$colorP: #603ecc;
$bgcolor: #f1f1f1;
$btn-color: #f3f1f9;

#conts{
    display: flex;
    justify-content: flex-end;
    #aside{
        width: 5%;
        height: 100vh;
        border-right: 0.5px solid $borderColor;
        position: fixed;
        left: 0;
        padding: 10px;
        overflow: hidden;
        transition: 500ms;
        background-color: #fff;
        z-index: 1;
        &:hover{
            width: 20%;
            overflow: hidden;
        }
        #navCont{
            display: flex;
            #navLeft{
                width: 100%;
                display: flex;
                align-items: start;
                flex-direction: column;
                .title{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 15px 15px 15px 0;
                    .icon{
                        color: $colorP;
                        font-size: 30px;
                        transform: rotate(30deg);
                    }
                }
                .menu{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-top: 55px;
                    .menuList{
                        :hover{
                            background-color: $bgcolor;
                        }
                        a{
                            border-radius: 5px;
                            transition: 0.5s;
                            display: flex;
                            padding: 15px 0 15px 10px;
                            align-items: center;
                            gap: 10px;
                            color: $color;
                            text-decoration: none;
                            .icon{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            #mainNav{
                display: flex;
                align-items: start;
                flex-direction: column;
                .logo{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 15px 15px 15px 10px;
                    .icon{
                        color: $colorP;
                        font-size: 30px;
                        transform: rotate(30deg);
                    }
                }
                .menu{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-top: 45px;
                    .menuList{

                        .icon{
                            font-size: 20px;
                            color: $color;
                            padding: 15px 0 9px 10px;
                        }
                    }
                }
            }
        }
    }
    
    #header{
        width: 95%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
        position: fixed;
        background-color: #fff;
        border-bottom: 0.5px solid $borderColor;
        #nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px 0;
            .menu{
                width: 45%;
                list-style: none;
                @media screen and (max-width: 500px) {
                    width: 30%;
                }
                .menuList{
                input{
                    border-radius: 5px;
                    padding: 7px 20px;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: #ededed;
                }
            }
        }
        .logo{
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: $color;
                text-decoration: none;
                font-weight: 500;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                    gap: 5px;
                }
                @media screen and (max-width: 400px) {
                    font-size: 14px;
                }
            }
        }
        .cont{
            display: flex;
            gap: 30px;
            @media screen and (max-width: 500px) {
                gap: 15px;
            }
            @media screen and (max-width: 350px) {
                gap: 10px;
            }
            .menuList{
                list-style: none;
                font-size: 25px;
                color: $color;
                position: relative;
                @media screen and (max-width: 500px) {
                    font-size: 20px;
                }
                #dropdownMenuAdd{
                    min-width: 250px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    @media screen and (max-width: 600px) {
                        min-width: 220px;
                    }
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                            li{
                                list-style: disc;
                                color: $color;
                            }
                        }
                        p{
                            font-size: 13px;
                            padding: 2px 0;
                            span{
                                color: $colorP;
                            }
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
                #dropdownMenuNot{
                    min-width: 300px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    @media screen and (max-width: 600px) {
                        min-width: 280px;
                    }
                    .line{
                        width: 100%;
                        border: 1px solid $borderColor;
                        margin: 10px 0;
                    }
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        .info{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            a{
                                color: #000;
                                font-size: 15px;
                                text-decoration: none;
                                display: flex;
                                gap: 25px;
                                li{
                                    list-style: disc;
                                    color: $color;
                                }
                            }
                            p{
                                font-size: 13px;
                                padding: 2px 0;
                                span{
                                    color: $colorP;
                                }
                            }
                        }
                            .icons{
                                font-size: 23px;
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
                #dropdownMenu{
                    min-width: 250px;
                    border: 1px solid $borderColor;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px;
                    position: absolute;
                    top: 35px;
                    right: 0;
                    display: none;
                    .dropdownMenuList{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 15px 0;
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                            li{
                                list-style: disc;
                                color: $color;
                            }
                        }
                        p{
                            font-size: 13px;
                            padding: 2px 0;
                            span{
                                color: $colorP;
                            }
                        }
                        .icon{
                            font-size: 20px;
                            padding: 7px;
                            color: $colorP;
                            background-color: $btn-color;
                            border-radius: 50%;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            text-decoration: none;
                            display: flex;
                            gap: 25px;
                        }
                    }
                    button{
                        width: 100%;
                        border-radius: 8px;
                        padding: 10px;
                        border: none;
                        a{
                            color: $color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
} 
    section{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin: 100px 0;
        @media screen and (max-width: 885px) {
            width: 100%;
        }
        .profileCont{
            width: 65%;
            padding: 20px;
            border-radius: 10px;
            border: 0.5px solid $borderColor;
            @media screen and (max-width: 885px) {
                width: 90%;
            }
            @media screen and (max-width: 500px) {
                padding: 20px 10px;
            }
            .profileChild{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media screen and (max-width: 470px) {
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                }
                .profileIcon{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .icon{
                        font-size: 50px;
                        color: #603ecc;
                    }
                    .profileInfo{
                        h3{
                            @media screen and (max-width: 470px) {
                                font-size: 16px;
                            }
                        }
                        p{
                            font-size: 15px;
                            color: $color;
                            padding: 5px 0; 
                            @media screen and (max-width: 470px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
                button{
                    padding: 10px 15px;
                    border: none;
                    border-radius: 5px;
                    color: $colorP;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: #eee9fd;
                    font-weight: 550;
                    @media screen and (max-width: 470px) {
                        width: 100%;
                        justify-content: center;
                        gap: 10px;
                        font-size: 12px;
                    }
                }
            }
            .line{
                width: 100%;
                border: 0.5px solid $borderColor;
                margin: 15px 0;
            }
            .about{
                margin-top: 25px;
                p{
                    font-size: 15px;
                    color: $color;
                    padding: 10px 0;
                    line-height: 1.3rem;
                    @media screen and (max-width: 470px) {
                        font-size: 13px;
                    }
                }
            }
            .tasksCont{
                width: 100%;
                margin-top: 20px;
                h4{
                display: flex;
                align-items: center;
                gap: 5px;
                    p{
                        font-size: 15px;
                        color: $color;
                        @media screen and (max-width: 470px) {
                            font-size: 13px;
                        }
                    }
                }
                .tasksChild{
                    display: flex;
                    gap: 5px;
                    margin-top: 10px;
                    justify-content: space-between;
                    .child{
                        display: flex;
                        align-items: start;
                        gap: 5px;
                        margin: 5px 0;
                        input{
                            margin-top: 2px;
                        }
                        .tasksInfo{
                            h4{
                                @media screen and (max-width: 470px) {
                                    font-size: 13px;
                                }
                                @media screen and (max-width: 350px) {
                                    font-size: 12px;
                                }
                            }
                            .date{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                @media screen and (max-width: 400px) {
                                    gap: 5px;
                                }
                                p{
                                    color: $color;
                                    font-size: 15px;
                                    padding: 5px 0; 
                                    @media screen and (max-width: 470px) {
                                        font-size: 12px;
                                    } 
                                    @media screen and (max-width: 350px) {
                                        font-size: 11px;
                                    } 
                                }
                                .icon{
                                    color: $color;
                                    @media screen and (max-width: 470px) {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                    .icon{
                        color: $color;
                        font-size: 20px;
                    }
                }
            }
            .teamsCont{
                width: 100%;
                margin-top: 20px;
                h4{
                display: flex;
                align-items: center;
                gap: 5px;
                    p{
                        font-size: 15px;
                        color: $color;
                    }
                }
                .teamsChild{
                    display: flex;
                    justify-content: space-between;
                    border-radius: 10px;
                    border: 0.5px solid $borderColor;
                    padding: 15px;
                    margin-top: 20px;
                    .teamsIcon{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .userIcon{
                            font-size: 45px;
                            color: $color;
                        }
                        .teamsInfo{
                            h4{
                                @media screen and (max-width: 470px) {
                                    font-size: 15px;
                                }
                            }
                            p{
                                display: flex;
                                gap: 5px;
                                color: $color;
                                padding: 5px 0;
                                @media screen and (max-width: 470px) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .icon{
                        color: $color;
                        font-size: 20px;
                    }
                }
            }
        }
        .cont{
            width: 65%;
            padding: 30px;
            border: 0.5px solid $borderColor;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 50px;
            @media screen and (max-width: 885px) {
                width: 90%;
                padding: 20px;
            }
            .icon{
                font-size: 100px;
            }
            .info{
                h4{
                    @media screen and (max-width: 470px) {
                        font-size: 15px;
                    }
                }
                p{
                    font-size: 15px;
                    color: $color;
                    padding: 5px 0 15px 0;
                    @media screen and (max-width: 470px) {
                        font-size: 13px;
                    }
                }
                button{
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #000;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                }
            }

        }
    }
}